extends base.pug
include mixins/video

block content 
    h2 Welcom here you will see the tranding viedos
    each videoInfoValue in videos 
        +video(videoInfoValue) 
    else 
        li sorry noting found.
        