extends base.pug

block content
    if errorMessage
        span=errorMessage 
    form(method="POST")
        input(name="email", type="email", required, placeholder="Email")
        //-input에 name을 붙여주지 않으면 백엔드에서 다룰 수 없다는 걸 잊지말기 !
        input(name="username", type="text", required, placeholder="ID")
        input(name="password", type="password", required, placeholder="Password")
        input(name="password2", type="password", required, placeholder="Confirm Password")
        input(name="name", type="text", required, placeholder="Name")
        input(name="location", type="text", required, placeholder="Location")
        input(type="submit", value="Join")
    hr
    div 
        span 이미 계정이 있으신가요?
        a(href="/login") Log in Now &rarr;

        
