@import "./_variables";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
};

head {
    background-color: aqua;
}

@keyframes goAway {
    from {
        transform: none;
    }
    to {
        transform: translateY(-60px);
    }
    
};

.message {
   position: absolute;
   top: 10px;
   left: 0;
   right: 0;
   margin: 0 auto;
   max-width: 200px;
   padding: 10px 20px;
   border-radius: 40px;
   text-align: center;
   animation: goAway 0.5s ease-in-out forwards;
   animation-delay: 5s;
   &.error {
    background-color: rgb(234, 48, 141);
    color: aliceblue;
    font-weight: bold;
   };
};

.video_comments {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 5px;
    .video_comment {
        list-style-type: none;
        background-color: white;
        color: rgb(6, 112, 205);
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 10px;
    }
};